.cb{
    &--agenda{
        max-width: 600px;
        margin: 0 auto;
        .agenda__group{
            .event{
                border-top: 4px solid #f0f0f0;
                box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
                @include transition(.3s);
                display: flex;
                align-items: center;
                &__visual{
                    position: relative;
                    width: 130px;
                    height: 130px;
                    flex: 0 0 130px;
                }
                &__information{
                    width: calc(100% - 260px);
                    padding: 4px 20px;
                    &__date{
                        font-family: "Roboto", "Arial", "Helvetica", sans-serif;
                        text-transform: uppercase;
                        font-size: 11px;
                        font-weight: 700;
                    }
                    &__title{
                        color: $black;
                    }
                }
                &__link{
                    width: 130px;
                    height: 130px;
                    flex: 0 0 130px;
                }
                & + .event{
                    margin-top: 20px;
                }
                // &:hover{
                //     box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                // }
            }
        }
    }
}