footer{
    height: 5.5rem;
    background-color: $black;
    .in{
        padding: 15px 30px;
        display: flex;
        justify-content: space-around;
        color: $white;
        font-size: 13px;
        a{
            color: $white;
            @include transition (.3s);
            &:hover{
                color: #aff4d5;
            }
        }
    }
}