.cb {
    margin-top: 4rem !important;
    &--fullwidth{
        max-width: 100% !important;
    }
    &--video{
        .video-holder {
            position: relative;
            width: 100%;
            padding-bottom: 56.65%;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}